<div id="footer">
    <g:copyright startYear='2002'>FakeCo, Inc.</g:copyright>

    <div id="powered-by">
        <img src="${createLinkTo(dir:'images', file:'grails-powered.jpg')}" />
    </div>
</div>