
<div id="header">
<g:render template="/layouts/raceSearch" />
    <p><a class="header-main"
          href="${resource(dir:'')}">RaceTrack</a></p>
    <p class="header-sub">When's your next race?</p>
    </br>
<div id="loginHeader">
    <g:loginControl />
</div>
</br>
</div>
