<g:render template="/layouts/search" />

<div id="header">
    <p><g:link class="header-main" controller="entry">Blogito</g:link></p>

    <p class="header-sub">
        <g:link controller="entry" action="atom">
            <img src="${createLinkTo(
                    dir:'images',file:'feed-icon-28x28.png')}" alt="Subscribe" title="Subscribe"/>
        </g:link>
        A tiny little blog
    </p>

    <div id="loginHeader">
        <g:loginControl />
    </div>
</div>