
<%@ page import="blogito.Entry" %>
<!DOCTYPE html>
<html>
<head>
    <meta name="layout" content="main">
    <g:set var="entityName" value="${message(code: 'entry.label', default: 'Entry')}" />
    <title><g:message code="default.show.label" args="[entityName]" /></title>
</head>
<body>
<a href="#show-entry" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>

<g:if test="${session.user}">
    <div class="nav">
        <span class="menuButton">
            <a class="home" href="${createLinkTo(dir:'/')}">Home</a>
        </span>
        <span class="menuButton">
            <g:link class="create" action="create">New Entry</g:link>
        </span>
    </div>
</g:if>
<div id="show-entry" class="content scaffold-show" role="main">
    <g:render template="entry" bean="${entryInstance}" var="entryInstance" />
<g:if test="${session.user}">
    <g:form>
        <fieldset class="buttons">
            <g:hiddenField name="id" value="${entryInstance?.id}" />
            <g:link class="edit" action="edit" id="${entryInstance?.id}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
            <g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
        </fieldset>
    </g:form>
    </g:if>
</div>
</body>
</html>
